In [ ]:
import numpy as np
import pandas as pd

In [ ]:
df=pd.DataFrame({'a':(1,2,0,4,5),'b':(2,3,0,5,6)})
df

   a  b
0  1  2
1  2  3
2  0  0
3  4  5
4  5  6

In [ ]:
(df[['a','b']]==0).sum()

a    1
b    1
dtype: int64

In [ ]:
type([1,2,3,4,5,6])

list

In [ ]:
df[['a','b']]=df[['a','b']].replace(0,np.NaN)
df

     a    b
0  1.0  2.0
1  2.0  3.0
2  NaN  NaN
3  4.0  5.0
4  5.0  6.0

In [ ]:
df.fillna(df.mean(),inplace=True)
df

     a    b
0  1.0  2.0
1  2.0  3.0
2  3.0  4.0
3  4.0  5.0
4  5.0  6.0

In [ ]:
pip install fancyimpute

Requirement already satisfied: fancyimpute in /usr/local/lib/python3.6/dist-packages (0.4.3)
Requirement already satisfied: cvxpy>=1.0.6 in /usr/local/lib/python3.6/dist-packages (from fancyimpute) (1.0.31)
Requirement already satisfied: numpy>=1.10 in /usr/local/lib/python3.6/dist-packages (from fancyimpute) (1.18.5)
Requirement already satisfied: knnimpute in /usr/local/lib/python3.6/dist-packages (from fancyimpute) (0.1.0)
Requirement already satisfied: scikit-learn>=0.19.1 in /usr/local/lib/python3.6/dist-packages (from fancyimpute) (0.22.2.post1)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from fancyimpute) (1.15.0)
Requirement already satisfied: np-utils in /usr/local/lib/python3.6/dist-packages (from fancyimpute) (0.5.12.1)
Requirement already satisfied: scipy in /usr/local/lib/python3.6/dist-packages (from fancyimpute) (1.4.1)
Requirement already satisfied: keras>=2.0.0 in /usr/local/lib/python3.6/dist-packages (from fancyimpute) (2.4.3)
Requirement already satisfied: tensorflow in /usr/local/lib/python3.6/dist-packages (from fancyimpute) (2.3.0)
Requirement already satisfied: scs>=1.1.3 in /usr/local/lib/python3.6/dist-packages (from cvxpy>=1.0.6->fancyimpute) (2.1.2)
Requirement already satisfied: ecos>=2 in /usr/local/lib/python3.6/dist-packages (from cvxpy>=1.0.6->fancyimpute) (2.0.7.post1)
Requirement already satisfied: osqp>=0.4.1 in /usr/local/lib/python3.6/dist-packages (from cvxpy>=1.0.6->fancyimpute) (0.6.1)
Requirement already satisfied: multiprocess in /usr/local/lib/python3.6/dist-packages (from cvxpy>=1.0.6->fancyimpute) (0.70.10)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.6/dist-packages (from scikit-learn>=0.19.1->fancyimpute) (0.16.0)
Requirement already satisfied: future>=0.16 in /usr/local/lib/python3.6/dist-packages (from np-utils->fancyimpute) (0.16.0)
Requirement already satisfied: h5py in /usr/local/lib/python3.6/dist-packages (from keras>=2.0.0->fancyimpute) (2.10.0)
Requirement already satisfied: pyyaml in /usr/local/lib/python3.6/dist-packages (from keras>=2.0.0->fancyimpute) (3.13)
Requirement already satisfied: google-pasta>=0.1.8 in /usr/local/lib/python3.6/dist-packages (from tensorflow->fancyimpute) (0.2.0)
Requirement already satisfied: termcolor>=1.1.0 in /usr/local/lib/python3.6/dist-packages (from tensorflow->fancyimpute) (1.1.0)
Requirement already satisfied: absl-py>=0.7.0 in /usr/local/lib/python3.6/dist-packages (from tensorflow->fancyimpute) (0.9.0)
Requirement already satisfied: wrapt>=1.11.1 in /usr/local/lib/python3.6/dist-packages (from tensorflow->fancyimpute) (1.12.1)
Requirement already satisfied: tensorboard<3,>=2.3.0 in /usr/local/lib/python3.6/dist-packages (from tensorflow->fancyimpute) (2.3.0)
Requirement already satisfied: tensorflow-estimator<2.4.0,>=2.3.0 in /usr/local/lib/python3.6/dist-packages (from tensorflow->fancyimpute) (2.3.0)
Requirement already satisfied: gast==0.3.3 in /usr/local/lib/python3.6/dist-packages (from tensorflow->fancyimpute) (0.3.3)
Requirement already satisfied: wheel>=0.26 in /usr/local/lib/python3.6/dist-packages (from tensorflow->fancyimpute) (0.34.2)
Requirement already satisfied: opt-einsum>=2.3.2 in /usr/local/lib/python3.6/dist-packages (from tensorflow->fancyimpute) (3.3.0)
Requirement already satisfied: grpcio>=1.8.6 in /usr/local/lib/python3.6/dist-packages (from tensorflow->fancyimpute) (1.31.0)
Requirement already satisfied: protobuf>=3.9.2 in /usr/local/lib/python3.6/dist-packages (from tensorflow->fancyimpute) (3.12.4)
Requirement already satisfied: keras-preprocessing<1.2,>=1.1.1 in /usr/local/lib/python3.6/dist-packages (from tensorflow->fancyimpute) (1.1.2)
Requirement already satisfied: astunparse==1.6.3 in /usr/local/lib/python3.6/dist-packages (from tensorflow->fancyimpute) (1.6.3)
Requirement already satisfied: dill>=0.3.2 in /usr/local/lib/python3.6/dist-packages (from multiprocess->cvxpy>=1.0.6->fancyimpute) (0.3.2)
Requirement already satisfied: requests<3,>=2.21.0 in /usr/local/lib/python3.6/dist-packages (from tensorboard<3,>=2.3.0->tensorflow->fancyimpute) (2.23.0)
Requirement already satisfied: tensorboard-plugin-wit>=1.6.0 in /usr/local/lib/python3.6/dist-packages (from tensorboard<3,>=2.3.0->tensorflow->fancyimpute) (1.7.0)
Requirement already satisfied: markdown>=2.6.8 in /usr/local/lib/python3.6/dist-packages (from tensorboard<3,>=2.3.0->tensorflow->fancyimpute) (3.2.2)
Requirement already satisfied: google-auth-oauthlib<0.5,>=0.4.1 in /usr/local/lib/python3.6/dist-packages (from tensorboard<3,>=2.3.0->tensorflow->fancyimpute) (0.4.1)
Requirement already satisfied: werkzeug>=0.11.15 in /usr/local/lib/python3.6/dist-packages (from tensorboard<3,>=2.3.0->tensorflow->fancyimpute) (1.0.1)
Requirement already satisfied: google-auth<2,>=1.6.3 in /usr/local/lib/python3.6/dist-packages (from tensorboard<3,>=2.3.0->tensorflow->fancyimpute) (1.17.2)
Requirement already satisfied: setuptools>=41.0.0 in /usr/local/lib/python3.6/dist-packages (from tensorboard<3,>=2.3.0->tensorflow->fancyimpute) (49.2.0)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests<3,>=2.21.0->tensorboard<3,>=2.3.0->tensorflow->fancyimpute) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests<3,>=2.21.0->tensorboard<3,>=2.3.0->tensorflow->fancyimpute) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests<3,>=2.21.0->tensorboard<3,>=2.3.0->tensorflow->fancyimpute) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests<3,>=2.21.0->tensorboard<3,>=2.3.0->tensorflow->fancyimpute) (2020.6.20)
Requirement already satisfied: importlib-metadata; python_version < "3.8" in /usr/local/lib/python3.6/dist-packages (from markdown>=2.6.8->tensorboard<3,>=2.3.0->tensorflow->fancyimpute) (1.7.0)
Requirement already satisfied: requests-oauthlib>=0.7.0 in /usr/local/lib/python3.6/dist-packages (from google-auth-oauthlib<0.5,>=0.4.1->tensorboard<3,>=2.3.0->tensorflow->fancyimpute) (1.3.0)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /usr/local/lib/python3.6/dist-packages (from google-auth<2,>=1.6.3->tensorboard<3,>=2.3.0->tensorflow->fancyimpute) (0.2.8)
Requirement already satisfied: cachetools<5.0,>=2.0.0 in /usr/local/lib/python3.6/dist-packages (from google-auth<2,>=1.6.3->tensorboard<3,>=2.3.0->tensorflow->fancyimpute) (4.1.1)
Requirement already satisfied: rsa<5,>=3.1.4; python_version >= "3" in /usr/local/lib/python3.6/dist-packages (from google-auth<2,>=1.6.3->tensorboard<3,>=2.3.0->tensorflow->fancyimpute) (4.6)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.6/dist-packages (from importlib-metadata; python_version < "3.8"->markdown>=2.6.8->tensorboard<3,>=2.3.0->tensorflow->fancyimpute) (3.1.0)
Requirement already satisfied: oauthlib>=3.0.0 in /usr/local/lib/python3.6/dist-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib<0.5,>=0.4.1->tensorboard<3,>=2.3.0->tensorflow->fancyimpute) (3.1.0)
Requirement already satisfied: pyasn1<0.5.0,>=0.4.6 in /usr/local/lib/python3.6/dist-packages (from pyasn1-modules>=0.2.1->google-auth<2,>=1.6.3->tensorboard<3,>=2.3.0->tensorflow->fancyimpute) (0.4.8)

In [ ]:
from fancyimpute import KNN

In [ ]:
df=pd.DataFrame(KNN(k=2).fit_transform(df))

Imputing row 1/5 with 0 missing, elapsed time: 0.001
[KNN] Warning: 2/10 still missing after imputation, replacing with 0

In [ ]:
df

     0    1
0  1.0  2.0
1  2.0  3.0
2  0.0  0.0
3  4.0  5.0
4  5.0  6.0

In [ ]:
df=pd.read_csv('Indicators.csv')

In [ ]:
df.head(n=7)

  CountryName CountryCode  ...    Year         Value
0  Arab World         ARB  ...  1960.0  1.335609e+02
1  Arab World         ARB  ...  1960.0  8.779760e+01
2  Arab World         ARB  ...  1960.0  6.634579e+00
3  Arab World         ARB  ...  1960.0  8.102333e+01
4  Arab World         ARB  ...  1960.0  3.000000e+06
5  Arab World         ARB  ...  1960.0  5.380000e+08
6  Arab World         ARB  ...  1960.0  4.769789e+01

[7 rows x 6 columns]

In [ ]:
list(df)

['CountryName',
 'CountryCode',
 'IndicatorName',
 'IndicatorCode',
 'Year',
 'Value']

In [ ]:
df.dtypes

CountryName       object
CountryCode       object
IndicatorName     object
IndicatorCode     object
Year             float64
Value            float64
dtype: object

In [ ]:
df.describe(include='all')

       CountryName CountryCode  ...          Year         Value
count        94823       94823  ...  94822.000000  9.482200e+04
unique         247         247  ...           NaN           NaN
top          India         IND  ...           NaN           NaN
freq           983         983  ...           NaN           NaN
mean           NaN         NaN  ...   1961.405043  3.228002e+11
std            NaN         NaN  ...      1.039108  8.346724e+12
min            NaN         NaN  ...   1960.000000 -1.181558e+14
25%            NaN         NaN  ...   1961.000000  6.432749e+00
50%            NaN         NaN  ...   1961.000000  6.737133e+01
75%            NaN         NaN  ...   1962.000000  6.000000e+06
max            NaN         NaN  ...   1963.000000  5.037593e+14

[11 rows x 6 columns]

In [ ]:
len(df['CountryName'].unique().tolist())

247

In [ ]:
from collections import Counter

In [ ]:
C=Counter(df['CountryCode'].tolist())
C.most_common(1)

[('IND', 983)]

In [ ]:
c.most_common(2)

[('India', 983), ('Chile', 928)]

In [ ]:
df['CountryCode'].value_counts()

IND    983
CHL    928
HND    892
AUS    886
BRA    849
      ...
WBG     33
SRB     20
MAF     12
KSV     12
SXM     10
Name: CountryCode, Length: 247, dtype: int64

In [60]:
df

       CountryName CountryCode  ...    Year         Value
0       Arab World         ARB  ...  1960.0  1.335609e+02
1       Arab World         ARB  ...  1960.0  8.779760e+01
2       Arab World         ARB  ...  1960.0  6.634579e+00
3       Arab World         ARB  ...  1960.0  8.102333e+01
4       Arab World         ARB  ...  1960.0  3.000000e+06
...            ...         ...  ...     ...           ...
94818  Korea, Rep.         KOR  ...  1963.0  6.235566e+00
94819  Korea, Rep.         KOR  ...  1963.0  0.000000e+00
94820  Korea, Rep.         KOR  ...  1963.0  0.000000e+00
94821  Korea, Rep.         KOR  ...  1963.0  0.000000e+00
94822  Korea, Rep.         KOR  ...     NaN           NaN

[94823 rows x 6 columns]

In [61]:
df5=df.head()

In [62]:
df5

  CountryName CountryCode  ...    Year         Value
0  Arab World         ARB  ...  1960.0  1.335609e+02
1  Arab World         ARB  ...  1960.0  8.779760e+01
2  Arab World         ARB  ...  1960.0  6.634579e+00
3  Arab World         ARB  ...  1960.0  8.102333e+01
4  Arab World         ARB  ...  1960.0  3.000000e+06

[5 rows x 6 columns]

In [85]:
df.iloc[:,:2]

       CountryName CountryCode
0       Arab World         ARB
1       Arab World         ARB
2       Arab World         ARB
3       Arab World         ARB
4       Arab World         ARB
...            ...         ...
94818  Korea, Rep.         KOR
94819  Korea, Rep.         KOR
94820  Korea, Rep.         KOR
94821  Korea, Rep.         KOR
94822  Korea, Rep.         KOR

[94823 rows x 2 columns]

In [91]:
df.loc[[0,1],['Value']]

        Value
0  133.560907
1   87.797601

In [83]:
df[df.isna().values]

       CountryName CountryCode  ... Year Value
94822  Korea, Rep.         KOR  ...  NaN   NaN
94822  Korea, Rep.         KOR  ...  NaN   NaN

[2 rows x 6 columns]

In [84]:
df.isna().sum()

CountryName      0
CountryCode      0
IndicatorName    0
IndicatorCode    0
Year             1
Value            1
dtype: int64

In [92]:
df5

  CountryName CountryCode  ...    Year         Value
0  Arab World         ARB  ...  1960.0  1.335609e+02
1  Arab World         ARB  ...  1960.0  8.779760e+01
2  Arab World         ARB  ...  1960.0  6.634579e+00
3  Arab World         ARB  ...  1960.0  8.102333e+01
4  Arab World         ARB  ...  1960.0  3.000000e+06

[5 rows x 6 columns]

In [107]:
df5.drop(df.columns['Value'],axis=1)

  CountryName CountryCode  ...   IndicatorCode    Year
0  Arab World         ARB  ...     SP.ADO.TFRT  1960.0
1  Arab World         ARB  ...     SP.POP.DPND  1960.0
2  Arab World         ARB  ...  SP.POP.DPND.OL  1960.0
3  Arab World         ARB  ...  SP.POP.DPND.YG  1960.0
4  Arab World         ARB  ...  MS.MIL.XPRT.KD  1960.0

[5 rows x 5 columns]

In [108]:
df.rename(columns={'Value':'Count'})

       CountryName CountryCode  ...    Year         Count
0       Arab World         ARB  ...  1960.0  1.335609e+02
1       Arab World         ARB  ...  1960.0  8.779760e+01
2       Arab World         ARB  ...  1960.0  6.634579e+00
3       Arab World         ARB  ...  1960.0  8.102333e+01
4       Arab World         ARB  ...  1960.0  3.000000e+06
...            ...         ...  ...     ...           ...
94818  Korea, Rep.         KOR  ...  1963.0  6.235566e+00
94819  Korea, Rep.         KOR  ...  1963.0  0.000000e+00
94820  Korea, Rep.         KOR  ...  1963.0  0.000000e+00
94821  Korea, Rep.         KOR  ...  1963.0  0.000000e+00
94822  Korea, Rep.         KOR  ...     NaN           NaN

[94823 rows x 6 columns]

In [127]:
name=[['a','2-2-15','$20'],['b','3-3-15','$30'],['c','5-5-15','$36']]
df=pd.DataFrame(name,columns=['Name','date','Money'])

In [125]:
df['Money']=df['Money'].map(lambda X : X.replace('$',' '))
df['Money']=df['Money'].astype('float')

AttributeError: ignored

In [123]:
df.describe()

             Age      Money
count   3.000000   3.000000
mean   14.666667  28.666667
std     2.516611   8.082904
min    12.000000  20.000000
25%    13.500000  25.000000
50%    15.000000  30.000000
75%    16.000000  33.000000
max    17.000000  36.000000

In [147]:
df

           Name Money
date
2015-02-02    a   $20
2015-03-03    b   $30
2015-05-05    c   $36

In [146]:
df['date']=pd.to_datetime(df['date'])
df

KeyError: ignored

In [145]:
am=df.set_index('date',inplace=True)

KeyError: ignored

In [148]:
df['2015']

           Name Money
date
2015-02-02    a   $20
2015-03-03    b   $30
2015-05-05    c   $36

In [150]:
df

           Name Money
date
2015-02-02    a   $20
2015-03-03    b   $30
2015-05-05    c   $36

In [152]:
df=df.reset_index()

In [156]:
date0=df['date'].min()
df['diff']=df['date'].apply(lambda X: (X-date0).days)
df

        date Name Money  diff
0 2015-02-02    a   $20     0
1 2015-03-03    b   $30    29
2 2015-05-05    c   $36    92