In [1]:
import pandas as pd
df=pd.read_csv('astronauts.csv')
df.head()

               Name    Year  ...  Death Date Death Mission
0   Joseph M. Acaba  2004.0  ...         NaN           NaN
1    Loren W. Acton     NaN  ...         NaN           NaN
2  James C. Adamson  1984.0  ...         NaN           NaN
3   Thomas D. Akers  1987.0  ...         NaN           NaN
4       Buzz Aldrin  1963.0  ...         NaN           NaN

[5 rows x 19 columns]

In [9]:
Birthdate = pd.to_datetime(df['Birth Date'],format='%m%d%Y')
Birthdate

0     1967-05-17
1     1936-03-07
2     1946-03-03
3     1951-05-20
4     1930-01-20
         ...
352   1956-08-23
353   1962-07-26
354   1932-02-07
355   1930-09-24
356   1962-06-29
Name: Birth Date, Length: 357, dtype: datetime64[ns]

In [5]:
Birthdate.dt.year

0      1967
1      1936
2      1946
3      1951
4      1930
       ...
352    1956
353    1962
354    1932
355    1930
356    1962
Name: Birth Date, Length: 357, dtype: int64

In [21]:
Nitin = pd.to_datetime('1985-09-24')
df['Diff']=(Nitin-df['Birth Date']).astype('timedelta64[Y]')
df.head()

               Name    Year  Group  ... Death Date Death Mission  Diff
0   Joseph M. Acaba  2004.0   19.0  ...        NaN           NaN  18.0
1    Loren W. Acton     NaN    NaN  ...        NaN           NaN  49.0
2  James C. Adamson  1984.0   10.0  ...        NaN           NaN  39.0
3   Thomas D. Akers  1987.0   12.0  ...        NaN           NaN  34.0
4       Buzz Aldrin  1963.0    3.0  ...        NaN           NaN  55.0

[5 rows x 20 columns]