In [2]:
import numpy as np
import pandas as pd

In [3]:
df=pd.read_csv("Diabetes.csv")

In [4]:
df.head()

   Pregnancies  Glucose  BloodPressure  ...  DiabetesPedigreeFunction  Age  Outcome
0            6      148             72  ...                     0.627   50        1
1            1       85             66  ...                     0.351   31        0
2            8      183             64  ...                     0.672   32        1
3            1       89             66  ...                     0.167   21        0
4            0      137             40  ...                     2.288   33        1

[5 rows x 9 columns]

In [5]:
df.describe()

       Pregnancies     Glucose  ...         Age     Outcome
count   768.000000  768.000000  ...  768.000000  768.000000
mean      3.845052  120.894531  ...   33.240885    0.348958
std       3.369578   31.972618  ...   11.760232    0.476951
min       0.000000    0.000000  ...   21.000000    0.000000
25%       1.000000   99.000000  ...   24.000000    0.000000
50%       3.000000  117.000000  ...   29.000000    0.000000
75%       6.000000  140.250000  ...   41.000000    1.000000
max      17.000000  199.000000  ...   81.000000    1.000000

[8 rows x 9 columns]

In [16]:
df=df[['Glucose','BMI','Age','Outcome']]

In [17]:
df1=df.loc[~(df[df.columns[:-1]]==0).any(axis=1)]

In [18]:
df1.describe()

          Glucose         BMI         Age     Outcome
count  752.000000  752.000000  752.000000  752.000000
mean   121.941489   32.454654   33.312500    0.351064
std     30.601198    6.928926   11.709395    0.477621
min     44.000000   18.200000   21.000000    0.000000
25%     99.750000   27.500000   24.000000    0.000000
50%    117.000000   32.300000   29.000000    0.000000
75%    141.000000   36.600000   41.000000    1.000000
max    199.000000   67.100000   81.000000    1.000000

In [21]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 752 entries, 0 to 767
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Glucose  752 non-null    int64
 1   BMI      752 non-null    float64
 2   Age      752 non-null    int64
 3   Outcome  752 non-null    int64
dtypes: float64(1), int64(3)
memory usage: 29.4 KB

In [22]:
df1.groupby('Outcome').mean()

            Glucose        BMI        Age
Outcome
0        110.825820  30.876434  31.309426
1        142.488636  35.371970  37.015152

In [23]:
df1.groupby('Outcome').agg({'Glucose':'mean','BMI':'median','Age':'mean'})

            Glucose    BMI        Age
Outcome
0        110.825820  30.10  31.309426
1        142.488636  34.25  37.015152

In [24]:
df1.groupby('Outcome').agg(['mean','median'])

            Glucose               BMI               Age
               mean median       mean median       mean median
Outcome
0        110.825820  107.5  30.876434  30.10  31.309426     27
1        142.488636  140.5  35.371970  34.25  37.015152     36

In [25]:
pos=df1[df1['Outcome']==1]
neg=df1[df1['Outcome']==0]
print(pos.shape,neg.shape)

(264, 4) (488, 4)

In [26]:
df1.to_csv("Clean.csv",index=False)

In [27]:
data = pd.DataFrame({'food': ['bacon', 'pulled pork', 'bacon',
'Pastrami', 'corned beef', 'Bacon',
'pastrami', 'honey ham', 'nova lox'],
'ounces': [4, 3, 12, 6, 7.5, 8, 3, 5, 6]})

In [28]:
meat_to_animal = {
'bacon': 'pig',
'pulled pork': 'pig',
'pastrami': 'cow',
'corned beef': 'cow',
'honey ham': 'pig',
'nova lox': 'salmon'
}

In [33]:
lc=data['food'].str.lower()

In [36]:
data['animal']=lc.map(meat_to_animal)

In [37]:
data.head()

          food  ounces animal
0        bacon     4.0    pig
1  pulled pork     3.0    pig
2        bacon    12.0    pig
3     Pastrami     6.0    cow
4  corned beef     7.5    cow

In [38]:
data['food'].map(lambda x: meat_to_animal[x.lower()])

0       pig
1       pig
2       pig
3       cow
4       cow
5       pig
6       cow
7       pig
8    salmon
Name: food, dtype: object

In [39]:
data = pd.DataFrame(np.arange(12).reshape((3, 4)),
index=['Ohio', 'Colorado', 'New York'],
 columns=['one', 'two', 'three', 'four'])

In [40]:
data.head()

          one  two  three  four
Ohio        0    1      2     3
Colorado    4    5      6     7
New York    8    9     10    11

In [41]:
transform = lambda x: x[:4].upper()
data.index.map(transform)

Index(['OHIO', 'COLO', 'NEW '], dtype='object')

In [42]:
data

          one  two  three  four
Ohio        0    1      2     3
Colorado    4    5      6     7
New York    8    9     10    11

In [43]:
data

          one  two  three  four
Ohio        0    1      2     3
Colorado    4    5      6     7
New York    8    9     10    11

In [45]:
data.index=data.index.map(transform)

In [46]:
data

      one  two  three  four
OHIO    0    1      2     3
COLO    4    5      6     7
NEW     8    9     10    11

In [47]:
data.rename(index=str.title, columns=str.upper)

      ONE  TWO  THREE  FOUR
Ohio    0    1      2     3
Colo    4    5      6     7
New     8    9     10    11

In [48]:
data.rename(index={'OHIO': 'INDIANA'}, columns={'three': 'peekaboo'})

         one  two  peekaboo  four
INDIANA    0    1         2     3
COLO       4    5         6     7
NEW        8    9        10    11

In [50]:
df=pd.DataFrame(np.arange(10).reshape(5,2))

In [51]:
df

   0  1
0  0  1
1  2  3
2  4  5
3  6  7
4  8  9

In [1]:
def mean(XS):
    summed=0
    for x in XS:
        summed += x
    return summed/len(XS)

In [3]:
print(mean([2,3,4,7]))

4.0